body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #f1f4f9, #dff1ff);
  }
  
  .dashboard-container {
    min-height: 100vh;
    background: url('https://www.transparenttextures.com/patterns/white-wall-3.png');
    background-size: cover;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .card-body {
    background-color: #f9fcff;
  }
  